@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

h1, p, label {
    font-family: Lato, Helvetica, sans-serif;
    text-align: center;
}

form {
    text-align: center;
}

.error {
    color: red;
}
