<html>
<head>
    <title>SPAM - No Server</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
    <h1>Server Controller has not been implemented yet.</h1>
</body>
</html>
