<html>
<head>
    <title>SPAM - Show Account</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
    <h1>Details for {{account.name}}</h1>

    {{#if error}}
        <p class="error">{{error}}</p>
    {{/if}}

    <p>Username: {{account.username}}</p>
    <p>Password: {{account.password}}</p>
</body>
</html>
