<html>
<head>
    <title>SPAM - Show Account</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
    <h1>Show Account</h1>

    {{#if error}}
        <p class="error">{{error}}</p>
    {{/if}}


    <p>Accounts: {{accounts}}</p>

</body>
</html>
