<html>
<head>
    <title>SPAM - Vault</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
    <h1>Your Vault</h1>

    {{#if error}}
        <p class="error">{{error}}</p>
    {{/if}}

    <a href="/users/{{userid}}/accounts">
        <input type="button" value="View/edit my stored accounts">
    </a>

    <a href="/users/{{userid}}/accounts/create">
        <input type="button" value="Store new account">
    </a>
    
    <!--
    <a href="/home">
        <input type="button" value="Log out">
    </a>
    -->
</body>
</html>
