<html>
<head>
    <title>SPAM - Vault</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
    <h1>Your Vault</h1>

    {{#if error}}
        <p class="error">{{error}}</p>
    {{/if}}

    {{#if userid}} {{! TODO: replace if-else with just the content inside the if (if-else just for testing)}}
        <a href="/users/{{userid}}">
            <input type="button" value="View/edit my stored accounts">
        </a>

        <a href="/users/{{userid}}/new">
            <input type="button" value="Store new account">
        </a>
    {{else}}
    <a href="/users/sdlkjfsl/accounts">
        <input type="button" value="View/edit my stored accounts">
    </a>

    <a href="/users/sdlkjfsl/accounts/new">
        <input type="button" value="Store new account">
    </a>
    {{/if}}
</body>
</html>
